<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather data visualizer</title>

    <link rel="stylesheet" href="{{url_for('static', filename='leaflet-0.7.3/leaflet.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.datetimepicker.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <script src="{{url_for('static', filename='leaflet-0.7.3/leaflet-src.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet.ajax.min.js')}}"></script>
    <script src="{{url_for('static', filename='spin.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet.spin.js')}}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ismyrnow.github.io/Leaflet.groupedlayercontrol/src/leaflet.groupedlayercontrol.js"></script>
    <script src="{{url_for('static', filename='jquery.datetimepicker.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>

