<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spatial</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
      body {
          padding: 0;
          margin: 0;
      }
      html, body, #map {
          height: 100%;
          width: 100%;
      }
      dt  {
          display: inline-block;
          text-transform: capitalize;
          font-weight: bold;
          width: 40%;
      }
      dd {
          display: inline-block;
          margin: 5px;
          width: 50%;
          text-align: right;
      }

      .slider {
        text-align: center;
        width: 100%;
        background-color: #fff;
      }

      .slider p {
        margin: 0px;
      }
    </style>
    <!--<link rel="stylesheet" href="style.css">-->
    <!--<script src="script.js"></script>-->
  </head>
  <body>
    <div id="map"></div>
  </body>

  <script>
    $(function() {
      var map = L.map('map').setView([51.8, 10], 6);
      L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
              maxZoom: 18,
              id: 'examples.map-20v6611k'
      }).addTo(map);

      function onEachFeature(feature, layer) {
          if (feature.properties && feature.properties.name) {
            layer.bindPopup(
                  "<h3>" + feature.properties.name + "</h3>"
                + "<dl>"
                + "  <dt>"+feature.properties.type+"</dt>"
                + "  <dd>"+feature.properties.value+"</dd>"
                + "  <dt>Altitude</dt>"
                + "  <dd>"+feature.properties.altitude+"</dd>"
                + "</dl>"
            );
          }
      }

      function setStyle(feature) {
        var hue = 30 + 240 * (50 - 2*feature.properties.value) / 60;
        return {
          "color": "hsl(" + [hue, '100%', '50%'] + ")",
          "weight": 0,
          "opacity": 0.65
        };
      }

      function createGeoJSONLayer(date) {
        // Update label
        var elem = $('.slider p');
        if (elem.length != 0)
          elem.html(date);
        else
          $('.slider').append("<p>"+date+"</p>");

        // create geojson layer
        var geojson = L.geoJson([],{
              onEachFeature: onEachFeature,
              style: setStyle
            }).addTo(map);

        // Load geojson data
        $.ajax({
          dataType: "json",
          url: "api/temperature/" + date,
          success: function(data) {
            if (data.measurements.length == 0) {
              var span = "<span style=\"display:block;color:red\"> no data</span>";
              $('.slider p').append(span);
            }
            geojson.addData(data.measurements);
          }
        }).error(function() {});
        return geojson;
      }

      function formatDate(date) {
        return date.getFullYear() + '-' +
               (parseInt(date.getMonth())+1) + '-' +
               date.getDate();
      }

      L.Control.Slider = L.Control.extend(
      {
          options: { position: 'bottomleft' },
          geoJSONLayer: undefined,
          loadGeoJSON: function() {
            // remove current data
            if (this.geoJSONLayer)
              map.removeLayer(this.geoJSONLayer);

            // load data
            var max = parseInt($('.slider input').attr('max'));
            var val = parseInt($('.slider input').val());
            var offset = (max-val)*1000*60*60*24;
            var date = new Date(new Date().getTime() - offset);
            this.geoJSONLayer = createGeoJSONLayer(formatDate(date));
          },
          onAdd: function (map) {
              var controlDiv = L.DomUtil.create('div', 'leaflet-draw-toolbar leaflet-bar slider');
              L.DomEvent
                  .addListener(controlDiv, 'click', L.DomEvent.stopPropagation)
                  .addListener(controlDiv, 'click', L.DomEvent.preventDefault)
                  .addListener(controlDiv, 'mouseover', function() {
                      // disable dragging for map otherwise slider is not useable
                      map.dragging.disable()
                    })
                  .addListener(controlDiv, 'mouseout', function() {
                    // enable dragging for map again
                    map.dragging.enable();
                    })
                  .addListener(controlDiv, 'change', this.loadGeoJSON);

              var controlUI = L.DomUtil.create('input',
                                'leaflet-draw-edit-remove full-width', controlDiv);
              controlUI.type = 'range';
              controlUI.min = '0';
              controlUI.max = '100';
              controlUI.value = '100';
              controlUI.step = '1';

              return controlDiv;
          }
      });
      var sliderControl = new L.Control.Slider();
      map.addControl(sliderControl);
      sliderControl.loadGeoJSON();
    });
  </script>
</html>

