<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spatial</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
      body {
          padding: 0;
          margin: 0;
      }
      html, body, #map {
          height: 100%;
          width: 100%;
      }
    </style>
    <!--<link rel="stylesheet" href="style.css">-->
    <!--<script src="script.js"></script>-->
  </head>
  <body>
    <div id="map"></div>
  </body>

  <script>
    var map = L.map('map').setView([51.8, 10], 6);
    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
            maxZoom: 18,
            id: 'examples.map-20v6611k'
    }).addTo(map);

    function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.name) {
            layer.bindPopup(feature.properties.name + " "+feature.properties.value);
        }
    }

    function setStyle(feature) {
      var hue = 30 + 240 * (50 - 2*feature.properties.value) / 60;
      return {
        "color": "hsl(" + [hue, '100%', '50%'] + ")",
        "weight": 0,
        "opacity": 0.65
      };
    }

    function loadData(date) {
      // create geojson layer
      var geojson = L.geoJson([],{
            onEachFeature: onEachFeature,
            style: setStyle
          }).addTo(map);

      // Load geojson data
      $.ajax({
        dataType: "json",
        url: "api/" + date,
        success: function(data) {
          geojson.addData(data.measurements);
        }
      }).error(function() {});
      return geojson;
    }

    function formatDate(date) {
      return date.getFullYear() + '-' +
             date.getMonth() + '-' +
             date.getDate();
    }

    var date = new Date();

    L.Control.PreviousDay = L.Control.extend(
    {
        options: { position: 'topleft' },
        onAdd: function (map) {
            var geojson = loadData(formatDate(date));
            var controlDiv = L.DomUtil.create('div', 'leaflet-draw-toolbar leaflet-bar');
            L.DomEvent
                .addListener(controlDiv, 'click', L.DomEvent.stopPropagation)
                .addListener(controlDiv, 'click', L.DomEvent.preventDefault)
                .addListener(controlDiv, 'click', function () {
                  // remove current data
                  map.removeLayer(geojson);

                  // load data of previous day
                  date = new Date(date.getTime() - 1000*60*60*24);
                  geojson = loadData(formatDate(date));

                  // debug output
                  console.log("loaded data for", date);
                });

            var controlUI = L.DomUtil.create('a', 'leaflet-draw-edit-remove',
                              controlDiv);
            controlUI.title = 'Previous date';
            controlUI.href = '#';
            controlUI.text = '<';

            return controlDiv;
        }
    });

    var previousDayControl = new L.Control.PreviousDay();
    map.addControl(previousDayControl);
  </script>
</html>

